* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #fceaff;
}

h1 {
	padding-top: 20px;
}
.wrap {
	max-width: 500px;
	padding-left: 50px;
}

.subtitle {
	margin-top: 30px;
}
 h2 {
 	padding-top: 30px;
 	text-align: left;
 	font-weight: 700;
 }

 h4 {
 	margin-top: 10px;
  	font-weight: 700;
}

 img {
width:250px;
}

.photo
{
float: left;
margin: 13px 10px 0px 10px;
}

ul
{
padding-top: 10px;	
}


